*{
  margin:0;
}

.app__headerImage{
  
  height:49px;
}

.app__posts{
  padding:20px;
}
.app__header{
  position:sticky;
  top:0;
  z-index: 1;
  justify-content:space-between;
  display:flex;
  padding: 20px;
  background-color: #fafafa;
  object-fit:contain;
  border-bottom:1px solid lightgray;
}

.app{
  background-color: white;
  /* height:100vh; */
}

.app__signup{
  display:flex;
  flex-direction: column;
}